<!--
   Copyright 2016-present, Facebook, Inc.
   All rights reserved.

   This source code is licensed under the license found in the
   LICENSE-examples file in the root directory of this source tree.
-->
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <title>Something went wrong.</title>
  </head>
  <body>
     <body>
    <div id="title">Something went wrong.  We could not recover your account.</div>
    <div id="emoji">&#x1F4A3;</div>
    <div id="message">
      {{exception}}
    </div>
    <!-- {{stackTrace}} -->
  </body>
</html>