<!--
   Copyright 2016-present, Facebook, Inc.
   All rights reserved.

   This source code is licensed under the license found in the
   LICENSE-examples file in the root directory of this source tree.
-->
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <title>Unknown Token</title>
  </head>
  <body>
    <div id="title">Unknown Token</div>
    <div id="emoji">&#x1F635;</div>
    <div id="message">
       Something went wrong.  We don't have a record of the token you just saved.
       Maybe this app was restarted while you were at Facebook?
    </div>
    <a href="{{action}}">Start Over</a>
  </body>
</html>